@media (max-width:1240px) {
    .info {
        &::after {
            right: -11px;
        }
    }

    .blog {
        &__items::after {
            right: -8px;
        }
    }

    .person,
    .latest-post {
        display: none;
    }

    .blog-page {

        .filter-category,
        .filter-popular {
            display: none;
        }

        &__inner {
            flex-direction: column;
        }

        &__content {
            width: 100%;
        }

        &__sidebar {
            order: -1;
            width: 100%;
        }

        &__img {
            max-width: 100%;
            width: 100%;
        }
    }

    .filter-search {
        &__input {
            width: 100%;
        }
    }
}


@media (max-width:1200px) {
    .header {
        &__inner {
            padding-right: 10px;
        }
    }

    .footer {
        .footer-top {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &__contacts {
                max-width: 250px;
            }

            &__nav {
                max-width: 200px;
                width: 100%;
            }

            &__acc {
                max-width: 170px;
            }
        }
    }

    .top-slider {
        &__img {
            width: 40%;
            object-fit: contain;
        }

        &__content {
            padding: 40px 0 0 15px;
        }
    }

    .info {
        &__item {
            width: 340px;
            padding: 35px 40px;
        }

        &::after {
            right: -11px;
        }
    }

    .page404 {
        &__inner {
            img {
                width: 40%;
            }
        }
    }

    .shop {
        &__inner {
            display: block;
            position: relative;
        }

        &__filters {
            width: 100%;
            max-width: none;
            display: none;
            position: absolute;
            background-color: #fff;
            top: 0;
            left: 0;
            z-index: 100;
        }

        &__filter-btn {
            display: block;
            border: none;
            background-color: transparent;
            position: fixed;
            right: 5px;
            bottom: 50px;
            z-index: 101;
            cursor: pointer;

            path {
                fill: $default;
                transition: all .3s;
            }

            &:hover {
                path {
                    fill: $accent;
                }
            }
        }

        .filter__item {
            margin-bottom: 40px;
        }
    }

    .shop-content {
        &__inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            &--list {
                display: flex;
            }
        }
    }

    .product-slide {
        &__thumb {
            display: none;
        }
    }

    .product-one {
        &__slide {
            width: auto;
            margin-right: 0;
        }
    }
}

@media (max-width:1100px) {
    .contact {
        &__inner {
            display: block;
        }

        &__info {
            max-width: 100%;
            margin-bottom: 30px;
        }

        &__form {
            box-shadow: none;
            padding: 0;
        }

        &__form-box {
            flex-direction: column;
        }

        &__box-input {
            width: 100%;
        }
    }
}

@media (max-width:1050px) {
    .top-slider {
        &__item {
            .top-slider__img {
                display: none;
            }
        }

        &__content {
            padding-top: 0;
            padding-bottom: 50px;
        }
    }

    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &::after {
            right: 0;
            left: 299px;
            bottom: -20px;
        }
    }

    .slick-dots {
        margin-top: 0;
    }

    .categories {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }

        &__inner-item {
            background-position: center top;

            &:nth-child(1) {
                grid-row: auto;
            }

            &:nth-child(2) {
                grid-column: auto;
                background-position: center right;
            }
        }
    }

    .video-fashion {
        &__inner {
            display: block;
        }

        &__popup {
            max-width: 100%;
            background-position: center top;
            margin-bottom: 20px;
        }

        &__content {
            max-width: 100%;
        }
    }

    .product-item {
        &__img-box {
            height: 320px;
        }
    }

    .product-one {
        &__inner {
            display: block;
        }

        &__content {
            width: 100%;
            margin-top: 35px;
        }
    }

    .product-slide {
        &__big {
            width: 100%;

            img {
                width: auto;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width:992px) {
    .page404 {
        &__inner {
            img {
                display: none;
            }
        }

        &__title {
            line-height: 52px;
        }
    }
}

@media (max-width:860px) {
    .menu {
        order: 1;
        margin-left: 50px;

        &__list {
            transform: translateY(-300%);
            position: absolute;
            top: 120px;
            left: 0;
            width: 100%;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            transition: all .3s;

            &--active {
                transform: translateY(-30px);
                transition: all .3s;
                background-color: #fff;
            }
        }

        &__list-item {
            width: 100%;
            padding: 0 15px;
            text-align: center;
        }

        &__list-link {
            display: block;
            width: 100%;
        }

        &__btn {
            width: 30px;
            height: 22px;
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0;
            cursor: pointer;

            span {
                width: 100%;
                height: 3px;
                background-color: $title;
            }

            &::after,
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $title;
            }

            &::after {
                top: 0;
            }

            &::before {
                bottom: 0;
            }
        }
    }

    .user-nav {
        margin-left: auto;
    }

    .product {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }

    .blog {
        padding-bottom: 60px;

        &__items {
            grid-template-columns: 1fr;
        }

        &__item {
            max-width: none;
            display: flex;
            justify-content: space-between;
        }

        &__item-inner {
            background-color: #fff;
        }
    }

    .shop-content {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .related {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
        }
    }
}

@media (max-width:768px) {
    .info {
        display: block;

        &__item {
            margin-bottom: 25px;
            width: 100%;
            text-align: center;
        }

        &::after {
            left: 67%;
        }

        &::before {
            left: 15%;
        }
    }

    .categories {
        &__inner {
            min-height: 400px;
        }

        &__inner-item {
            background-image: none !important;
            background-color: #000;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding-left: 15px;
            padding-top: 0;

            &:nth-child(1) {
                background-color: #f4dff0;
            }

            &:nth-child(2) {
                background-color: #d7efef;
            }

            &:nth-child(3) {
                background-color: #fff6a7;
            }

            &:nth-child(4) {
                background-color: #ededed;
            }
        }
    }
    .comments-form {
        &__box-input {
            flex-direction: column;
            gap: 30px;
        }
        &__text-input {
            width: 100%;
        }
        &__rating-title {
            margin-right: 0;
        }
        &__label {
            display: block;
            margin-right: 0;
        }
    }
}

@media (max-width:710px) {
    .footer {
        .footer-top {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px 0;

            &__form-input {
                margin-bottom: 15px;
            }
        }
    }

    .shop-content {
        &__view {
            display: none;
        }

        &__filter {
            padding-left: 0;
        }
    }
}

@media (max-width:620px) {
    .top-slider {
        padding: 45px 0 30px;

        &__title {
            font-size: 44px;
            line-height: 52px;
            margin-bottom: 25px;
        }
    }

    .categories {
        padding-top: 60px;

        &__inner {
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
        }

        &__inner-item {
            padding: 15px 10px;
        }
    }

    .categories-info {
        padding: 120px 0 60px;
    }

    .video-fashion {
        padding: 60px 0;

        &__popup {
            height: 300px;
            margin-bottom: 30px;
        }

        &__subtitle {
            font-size: 18px;
            text-align: center;
        }

        &__title {
            text-align: center;
        }
    }

    .product {
        &__items {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
    }

    .product-item {
        max-width: 100%;

        &__images {
            width: 100%;
        }
    }

    .promo {
        padding: 60px 0;

        &__clock {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__clock-item {
            margin: 20px 35px;
        }
    }

    .partners {
        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            gap: 30px;
            margin-bottom: 0;
        }
    }

    .blog {
        &__items {
            place-items: center;

            &::after {
                right: 85px;
            }
        }

        &__item {
            max-width: 370px;
            display: block;
        }
    }

    .blog-page {
        padding: 60px 0;

        &__img {
            height: 260px;
        }
    }

    .blog-one {
        &__text {
            padding: 20px 10px;
        }

        &__info {
            display: block;
        }

        &__info-item {
            margin-bottom: 10px;
        }

        &__comments-input {
            max-width: 100%;
            width: 100%;
        }

        &__box {
            flex-wrap: wrap;
            padding-right: 10px;
        }

        .comments-form {
            &__box-input {
                flex-direction: column;
                gap: 30px;
            }
        }
    }

    .shop-content {
        &__inner {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width:568px) {
    .footer {
        .footer-top {
            display: flex;
            justify-content: flex-start;

            &__contacts {
                max-width: none;
                width: 100%;
                text-align: center;
                margin-right: 0;
            }

            &__nav {
                width: 100%;
                max-width: none;
            }

            &__acc {
                width: 100%;
                max-width: none;
                margin-right: 30px;
            }

            &__form-input {
                max-width: none;
            }

            &__socials {
                justify-content: center;
            }

            &__logo {
                img {
                    margin: 0 auto;
                }
            }

            &__item-form {
                h6 {
                    text-align: center;
                }
            }

            &__form-btn {
                display: block;
                width: 100%;
            }

            &__list {
                display: none;
            }

            &__nav-title,
            &__acc-title {
                cursor: pointer;
                pointer-events: auto;
                position: relative;
            }

            &__nav-title::after,
            &__acc-title::after {
                content: '';
                position: absolute;
                background-image: url('../images/icons/angle-down.svg');
                width: 10px;
                height: 5px;
                top: 11px;
                right: 0;
            }
        }
    }

    .footer-down {
        flex-wrap: wrap;

        &__copy {
            margin: 0 auto;
            padding-right: 20px;
        }

        &__accept {
            margin: 0 auto;
        }
    }
}

@media (max-width:550px) {
    .product-tabs {
        &__top-link {
            display: block;
            margin-bottom: 10px;
        }
    }
}

@media (max-width:500px) {
    .menu {
        order: 0;

        &__inner {
            padding-right: 0;
        }

        &__list {
            top: 140px;
        }
    }

    .user-nav {
        height: 50px;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
    }

    .info {
        &__item-logo {
            margin-bottom: 25px;
        }

        &__item-title {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 450px) {
    .promo {
        padding: 60px 0;

        &__link {
            margin-top: 30px;
        }

        &__title {
            margin-bottom: 30px;
        }

        &__clock-item {
            margin: 10px;
        }
    }

    .blog-page {
        &__play {
            top: 28%;
            transform: translate(-50%, -100%);
        }
    }

    .blog-one {
        &__box {
            display: block;
            padding-left: 0;
        }

        &__tags {
            margin-bottom: 5px;
        }

        &__author-img {
            display: none;
        }

        .blog-one__text>blockquote {
            padding: 10px;
        }
    }

    .comments {
        &__img {
            display: none;
        }
    }

    .map {
        padding: 60px 0;
    }

    #map {
        height: 250px;
    }

    .contact {
        &__info-title {
            font-size: 28px;
            line-height: 34px;
        }

        &__info-item {
            padding-left: 70px;
        }

        &__info-item {
            font-size: 14px;
        }
    }

    .pagination {
        &__arrows {
            display: none;
        }
    }

    .product-page {
        padding: 60px 0;
    }

    .product-slide {
        &__big {
            img {
                height: 400px;
            }
        }
    }

    .product-one {
        &__box {
            display: block;
            padding-left: 5px;
        }

        &__price {
            margin-bottom: 5px;
        }
        &__btn {
            margin-left: 5px;
        }

        .star {
            margin: 0;
            padding: 0;
        }
    }

    .product-filter__size-label {
        margin-right: -1px;
    }
    .comments {
        &__content-name::before,
        &__content-date {
            display: none;
        }
    }
    .related {
        &__items {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width:375px) {
    .top-slider {
        &__title {
            font-size: 38px;
            line-height: 48px;
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 30px;
        }
    }

    .blog {
        &__item-inner {
            padding: 25px 20px 25px 25px;
        }

        &__item-link {
            img {
                height: 240px;
                width: 100%;
            }
        }

        &-box__author {
            margin-right: 10px;
        }

        &-box {
            margin-bottom: 10px;
        }
    }

    .blog-page {
        &__item-box {
            padding: 10px 5px;
        }

        &__img {
            height: 170px;
        }

        &__slider {
            .slick-next {
                right: 10px;
            }

            .slick-prev {
                left: 10px;
            }
        }

        &__play {
            top: 20%;
            transform: translate(-50%, -70%);
        }

        .filter-search {
            padding: 25px 15px;
        }
    }
}

@media (max-width:305px) {
    .footer {
        .footer-top {
            justify-content: flex-start;

            &__nav {
                margin-right: 15px;
            }
        }
    }
}