@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
        gap: 35px;
    }

    &__list-link {
        color: $title;
        text-transform: uppercase;
        padding: 0 2px 5px;
        transition: all .3s;
        @extend %roboto-400;

        &:hover {
            border-bottom: 1px solid $accent;
            color: $accent;

        }
    }

    &__list-link--active {
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %roboto-700;
    }
}

.user-nav {
    display: flex;
    gap: 25px;

    &__link {
        position: relative;
    }

    &__num {
        position: absolute;
        top: -8px;
        right: -13px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        font-size: 12px;
        color: #fff;
        text-align: center;
        line-height: 20px;
    }
}

// ================================================================

.footer {
    background-color: $back-color;
}

.footer-top {
    padding: 80px 0 35px;
    border-bottom: 1px solid #ececec;
    display: grid;
    grid-template-columns: 300px 200px 200px 470px;

    &__contacts {
        margin-right: 50px;
    }

    &__nav {
        margin-right: 30px;
    }

    &__acc {
        margin-right: 30px;
    }

    &__logo {
        margin-bottom: 35px;
        display: block;
    }

    &__address,
    &__email,
    &__phone {
        margin-bottom: 14px;
        display: block;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 22px;
        color: $title;
        @extend %roboto-700;
    }

    &__link {
        margin-bottom: 14px;
        display: block;
    }

    &__phone {
        margin-bottom: 20px;
    }

    &__socials {
        display: flex;
        gap: 20px;
    }

    &__socials-link {
        transition: all .3s;

        path {
            fill: $default;
        }

        &:hover {
            path {
                fill: $accent;
            }
        }
    }

    &__text {
        margin-bottom: 25px;
    }

    &__form-input {
        background-color: #fff;
        max-width: 320px;
        width: 100%;
        padding: 12px 10px 12px 15px;
        border: none;
        outline: none;
        margin-right: 10px;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

        &__::placeholder {
            color: $default;
            font-size: 16px;
            line-height: 36px;
            @extend %quicksand-500;
        }
    }

    &__form-btn {
        @extend %btn;
    }
}

.footer-down {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    &__accept {
        display: flex;
        align-items: center;
        gap: 25px;
    }
}

// ==============================================================

.top-slider {
    background-image: url(../images/top-slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $back-color;
    padding: 65px 0 45px;

    &__container {
        max-width: 1560px;
    }

    &__content {
        padding: 125px 0 0 175px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
    }

    &__title {
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        @extend %roboto-700;
        margin-bottom: 35px;

        & span {
            display: block
        }
    }

    &__text {
        max-width: 470px;
        margin-bottom: 55px;
    }

    &__btn {
        @extend %btn;
        line-height: 26px;
        padding: 14px 35px;
    }
}

.slick-dots {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;

    & button {
        padding: 0;
        border: none;
        outline: none;
        width: 27px;
        height: 27px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $default;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    li {
        padding: 0 5px;
    }

    li.slick-active button {
        border-color: $accent;

        &::before {
            background-color: $accent
        }
    }
}



@import 'media';